<div ng-controller="BlogsShowCtrl" class="row col-lg-12">
    <h3>{{blog.title}}</h3>
    <div class="content" style="border-bottom: 0px solid">
      <div  id="title" ng-bind-html="renderHtml(blog.content)" ></div>
    </div>

</div>